#NavBar {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  width: 100%;
  height: auto;
  background-color: orange;
  margin-bottom: 2rem;
}

.Button_NavBar {
  font-size: 1.5rem;
}

#NavBar>h1 {
  font-size: 2.5rem;
}

.CartWidget>img {
  width: 2.5rem;
  height: auto;
}

#Selections {
  display: flex;
  gap: 5rem;
  margin-right: 7rem;
}

#Counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: orange;
}

#Counter>.Controls {
  display: flex;
  flex-direction: row;
  width: 10rem;
  justify-content: space-evenly;
  align-items: center;
}

.Controls>.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  width: 5rem;
  height: 3rem;
}

#Button_Cart>.Button {
  font-size: 1.5rem;
}

.Number {
  font-size: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  height: auto;
}

.ListGroup {
  width: 100%;
  height: auto;
  margin-bottom: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}

.CardItem {
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 20rem;
  height: 25rem;
  border-radius: 0.5rem;
}

.CardItem>.ItemImg {
  width: 5rem;
  height: 5rem;
}

.ItemFooter>.Option {
  font-size: 1.5rem;
}

.ItemDetailContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

