.link {
  text-decoration: none;
  color: black;
}

#logo {
  font-size: 2rem;
}

.link-category {
  text-decoration: none;
  color: rgb(11, 70, 132);
  font-size: 2rem;
}

.link-category:hover {
  text-decoration: underline;
}

#NavBarContainer {
  margin-bottom: 6rem;
}

#NavBar {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  width: 100%;
  height: auto;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(184, 184, 184);
  position: fixed;
  top: 0;
  z-index: 369;
}

#CartWidget {
  display: flex;
  flex-direction: row-reverse;
  justify-content: baseline;
  align-items: center;
  width: 10rem;
  height: auto;
  text-decoration: none;
}

#CartWidget>img {
  width: 3rem;
  height: 4rem;
}

#styleCarts {
  color: black;
  font-size: 1.5rem;
}

#Selections {
  display: flex;
  gap: 5rem;
  margin-right: 7rem;
}

.presentation-container {
  position: relative;
  text-align: center;
}

.presentation-image {
  max-width: 100%;
}

.Titel-presentation {
  position: absolute;
  top: 17rem;
  left: 0;
  right: 60rem;
  color: rgb(21, 70, 122);
  font-size: 4rem;
  font-weight: bold;
}

.Text-presentation {
  position: absolute;
  top: 25rem;
  left: 0;
  right: 60rem;
  color: rgb(21, 70, 122);
  font-size: 2rem;
}

.Titles {
  text-align: center;
}

#Counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 8rem;
}

#Counter>.Controls {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 5rem;
  align-items: center;
}

.Controls>.Button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
  width: 4rem;
  height: 3rem;
}

#Button_Cart>.Button {
  font-size: 1.3rem;
}

.Number {
  font-size: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  height: auto;
}

.ListGroup {
  width: 100%;
  height: auto;
  margin-bottom: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}

.CardItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 20rem;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  background-color: rgb(247, 247, 247);
  border: 1px solid #ccc;
}

.CardItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.CardItem-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  gap: 3rem;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.Pictures {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45rem;
  height: 45rem;
}

.ItemImgs {
  width: 40rem;
  height: 40rem;
  border-radius: 5px;
}

.Headers {
  text-align: center;
}

.ItemHeaders {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.Container-section {
  text-align: center;
  width: 60rem;
}

.Infos {
  margin-bottom: 5px;
}

.ItemFooters {
  text-align: center;
  margin-top: 2rem;
}

.Info-Carts {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}


.Picture {
  width: 15rem;
  height: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
  height: auto;
}

.ItemFooter {
  display: flex;
}

.Info-Cart {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  font-size: 2rem;
  height: 3rem;
  margin-bottom: 1rem;
}

.ItemFooter>.Option {
  font-size: 1.5rem;
}

.ItemDetailContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Cart-Zero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  font-size: 2rem;
}

.CartItem {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 5rem;
  font-size: 2rem;
}

.checkout {
  text-decoration: none;
  color: red;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.checkout:hover {
  text-decoration: underline;
}

.Button-clear {
  font-size: 2rem;
}


#ContainerForm-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

#ContainerForm {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 80%;
  max-width: 400px;
}

.Label {
  display: block;
  margin: 10px 0;
  font-size: 1.5rem;
}

input[type="text"],
input[type="number"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.5rem;
  margin-top: 15px;
}

.button:hover {
  background-color: #0056b3;
}

#RegisterAcount {
  text-align: center;
}

.containerTy {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.thankYou {
  font-size: 24px;
  margin-bottom: 10px;
}

.orderId {
  font-size: 20px;
  margin-bottom: 20px;
}

.homeLink {
  text-decoration: none;
  color: #007BFF;
}